{% extends 'todo/base.html' %}{% load staticfiles %}

{% block content%}

<form action="{% url 'todo:create_item' %}" method="POST" style="margin-top:2em;" >
<div class="input-group">
  <span class="input-group-btn"><button class="btn btn-default btn-lg" style="border-radius:0 !important;" type="button"><span class="glyphicon glyphicon-menu-hamburger"></span></button></span>
  <input style="border-radius:0 !important;" name="item_text" class="form-control input-lg" id="todoitem" aria-describedby="sizing-addon1" placeholder="New item" tabindex="0" autofocus autocomplete="off" />
  {% csrf_token %}
  <span class="input-group-btn"><button class="btn btn-default btn-lg" style="border-radius:0 !important;" type="submit">Add</button></span>
</div><!-- input-group -->
</form>

{% if todolist %}

<div id="todolist">
{% for item in todolist %}
<div class="bs-callout bs-callout-black" id="{{ item.id }}">
  <button type="button" class="close" onclick=" delete_item('{{ item.id }}')" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
  <button type="button" class="close" data-toggle="modal" data-target="#editModal" data-newline="{{ item.todo_line }}" data-itemid="{{ item.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
  <button type="button" class="close" onclick="archive_item('{{ item.id }}')" ><span class="glyphicon glyphicon-ok"     aria-hidden="true"></span></button>

{% if item.todo_done %}
  <h4 id="callout-content"><del>{{ item.todo_line }}</del></h4>
{% else %}
  <h4 id="callout-content">{{ item.todo_line }}</h4>
{% endif %}

</div> <!-- callout -->
{% endfor %}
</div> <!-- todolist div -->

<!-- hidden modal that displays a form for editing an item -->
<div class="modal bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit selected item:</h4>
      </div>

      <div class="modal-body" style="padding: 5px;">
        <form action="{% url 'todo:modify_item' %}" method="POST" >
        <div class="input-group">
          <input style="border-radius:0 !important;" name="item_to_modify_new_line" class="form-control input-lg" id="item_to_modify_new_line" aria-describedby="sizing-addon1" placeholder="New item" tabindex="0" autofocus autocomplete="off" /> 
          <input type="hidden" id="item_to_modify" />
          {% csrf_token %}
          <span class="input-group-btn"><button class="btn btn-default btn-lg" style="border-radius:0 !important;" type="submit">apply</button></span>
        </div><!-- input-group -->
        </form>
      </div> <!-- modal-body -->

    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- modal -->

<script type="text/javascript">

$('#editModal').on('show.bs.modal',function (event) {
  var button = $(event.relatedTarget) // button that triggered the modal
  var currentline = button.data('newline') // where to get the initial data from 
  var itemid = button.data('itemid') // where to get the initial data from 
  var modal = $(this)
  modal.find('.modal-body input').val(currentline)
  modal.find('.modal-body #id_of_item_to_modify').val(itemid)
})


function delete_item(item) {
  $.ajax({
    url : "{% url 'todo:delete_item' %}",
    type : "POST",
    data : { item_to_delete : item},
    success: function() {
      $('#'+item).remove();
    },
  });
}

function archive_item(item) {
  $.ajax({
    url : "{% url 'todo:archive_item' %}",
    type : "POST",
    data : { item_to_archive: item},
    success: function() {
      $('#'+item).remove();
    },
  });
}

</script>

{% else %}
<div class="blockquote">Start your todo list now.</div>
{% endif %}

<link rel="stylesheet" href="{% static 'css/dragula.min.css' %}"/>
<script src="{% static 'js/dragula.min.js' %}"></script>
<script type="text/javascript"> dragula([document.querySelector('#todolist')]); </script>
{% endblock content %}
